{% extends "layout.html" %}
{% block content %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Feed Name</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      {% for r in feeds %}
      <tr>
        <td>{{ r }}</td>
        <td>
          <form action="/download" method="POST">
            <input type="hidden" name ="csv_name" value="{{ r }}">
            <input type="hidden" name ="csv_file" value="{{ feeds[r] }}">
            <button class="btn btn-success" type="submit">Download</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
