{% extends "layout.html" %}
{% block content %}

          <div class="inner cover">
            <h1 class="cover-heading">Trends Crowd</h1>
            <p class="lead">
              <form method="POST" action="/">
                <div class="input-group input-group-lg">
                  <!-- <input type="text" class="form-control" placeholder="Trends URL"> -->
                  {{ form.trends_url(class_='form-control',placeholder="Trends URL",type="text") }}
                  <span class="input-group-btn">
                    
                    <button class="btn btn-success" type="submit">Go</button>
                  </span>
                </div><!-- /input-group -->
              </form>
            </p>
          </div>

{% endblock %}
